{
    "hosts": [
        {"url": "127.0.0.1", "port": 5000, "core_count": 4, "core_offset": 0},
        {"url": "127.0.0.1", "port": 5001, "core_count": 4, "core_offset": 4}
    ],
    "threads": 4,
    "port": 8080,
    "hyrise_default": "/home/user/hyrise/hyrise_nvm/build/hyrise-server_release",
    "dispatcher": "/home/user/hyrise/dispatcher/dispatcher"
}
